.custom-control-label {
  cursor: pointer;
}

.custom-control-label::before {
  position: absolute;
  top: 0.2rem;
  left: -1.6rem;
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  pointer-events: none;
  content: "";
  background-color: #edeef6;
  border: #edeef6 solid 1px;
}
