$input-text-color: #7f808c;
$input-border-background-color: #edeef6;

.small {
    color: $input-text-color;
}

.form-control-lg {
  height: calc(1.6em + 1.875rem + 2px);
  padding: .9375rem 1.25rem;
  font-size: .9375rem;
  line-height: 1.6;
  border-radius: .375rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.6em + 1.375rem + 2px);
  padding: .6875rem 1.0625rem;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.6;
  color: $input-text-color;
  background-color: $input-border-background-color;
  background-clip: padding-box;
  border: 1px solid $input-border-background-color;
}

.form-control:focus {
  color: $input-text-color;
  background-color: $input-border-background-color;
  border-color: $input-border-background-color;
  outline: 0;
  box-shadow: 0 0 0 rgba(1,118,255,.15);
}

a.text-center {
  display: block;
}