.pb-lg-10, .py-lg-10 {
  padding-bottom: 3.5rem!important;
}

.pt-lg-10, .py-lg-10 {
  padding-top: 3.5rem!important;
}

.mb-6, .my-6 {
  margin-bottom: 1.25rem!important;
}

.pb-6, .py-6 {
  padding-bottom: 1.25rem!important;
}
.pt-6, .py-6 {
  padding-top: 1.25rem!important;
}

.mb-n6, .my-n6 {
  margin-bottom: -1.25rem!important;
}

.mt-xl-9 {
  margin-top: 2.5rem!important;
}

p:last-child {
  margin-bottom: 0;
}