$badge-padding-y: 10;
$badge-font-size: 3;

.badge-circle {
  position: relative;
  border-radius: 50%;
  padding: 0;
  vertical-align: middle;
  height: 1.2rem;
  width: 1.2rem;
  min-width: 1.2rem;
  > i,
  > span {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}

.badge-top-right {
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
}

.badge-top-right {
  position: absolute;
  z-index: 1;
}
